.ht_master tr td {
  background-color: #ffffff;
  font-size:10px;
}

/* All headers */
.handsontable th {
  background-color: #ffffff;
}

/* Row headers */
.ht_clone_left th {
  background-color: #ffffff;
  font-size:10px;
}

/* Column headers */
.ht_clone_top th {
  background-color: #ffffff;
}

.handsontable table thead th{

  color: #CCCCCC;
  font-weight:bold;
  font-size:10px;
}

.currentCol {
  background-color: #ffffff !important;
}

.currentRow {
  background-color: #ffffff !important;
}
